.main-content {
	border: 1px solid #0b6fa2;
	border-radius: 6px;
	height: 565px;
	position: absolute;
	top: 5px;
	left: 280px;
	right: 0px;
	background-color: #FFFFFF;
	overflow: auto;
	padding: 5px;
}

/*
	main-content滚动条
		-webkit-scrollbar : 滚动条整体样式
*/
.main-content::-webkit-scrollbar {
	width: 8px;
	height: 1px;
}
.main-content::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 10px;
         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: #1A94E6;
    }
.main-content::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 10px;
        background:#C6E2FF;
    }
