<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.school.estimate.dao.PermissionDao">
    <!-- property对应的java的，column对应的是数据库 -->
    <resultMap id="BaseResultMap" type="com.school.estimate.domain.Permission">
        <id column="id" property="id"  />
        <result column="p_name" property="name" />
        <result column="parent_id" property="parentId" />
        <result column="p_level" property="permissionLevel" />
        <result column="url" property="url" />
        <result column="icon" property="icon" />
        <result column="html_id" property="htmlID" />
        <result column="data_id" property="dataID" />
        <result column="description" property="description" />
    </resultMap>
    <resultMap id="Role" type="com.school.estimate.domain.Role">
        <id column="id" property="id"  />
        <result column="role_code" property="roleCode" />
        <result column="role_name" property="roleName" />
    </resultMap>
    <!-- 如果不用parameterMap,直接在以下的parameterMap中寫類路徑，會報錯 -->
    <parameterMap id="Permission" type="com.school.estimate.domain.Permission" />


    <select id="findByName" resultType="Permission" parameterType="java.lang.String">
        select
            id,p_name,parent_id,p_level,url,icon,html_id,data_id,description
        from estimate.permission
        where p_name like CONCAT(CONCAT('%', #{name}), '%')
        order by id;
    </select>

    <select id="findPermissionById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
            id,p_name,parent_id,p_level,url,icon,html_id,data_id,description
        from estimate.permission
        where id = #{id}
    </select>

    <select id="findAllPermission" resultMap="BaseResultMap" resultType="Permission">
        select
            id,p_name,parent_id,p_level,url,icon,html_id,data_id,description
        from estimate.permission
        order by id;
    </select>

    <insert id="savePermission" parameterMap="Permission" useGeneratedKeys="true" keyProperty="id">
        insert into permission(id,p_name,parent_id,p_level,url,icon,html_id,data_id,description) values(#{id},#{name},#{parentId},#{permissionLevel},#{url},#{icon},#{htmlID},#{dataID},#{description});
    </insert>

    <update id="updatePermission" parameterMap="Permission">
        update estimate.permission
        set
        <if test="name!=null">
            p_name = #{name},
        </if>
        <if test="parentId!=null">
            parent_id = #{parentId},
        </if>
        <if test="permissionLevel!=null">
            p_level = #{permissionLevel},
        </if>
        <if test="url!=null">
            url = #{url},
        </if>
        <if test="icon!=null">
            icon = #{icon},
        </if>
        <if test="htmlID!=null">
            html_id = #{htmlID},
        </if>
        <if test="dataID!=null">
            data_id = #{dataID},
        </if>
        <if test="description!=null">
            description = #{description},
        </if>
        where id = #{id}
    </update>

    <delete id="deletePermission" parameterType="java.lang.Long">
        delete from estimate.permission where id = #{id}
    </delete>

    <select id="findPermissionsOfRoleId" resultMap="BaseResultMap" resultType="Permission" parameterType="java.lang.Long">
        select
            p.id,p.p_name,p.parent_id,p.p_level,p.url,p.icon,p.html_id,p.data_id,p.description
        from estimate.permission p,role_permission r
        where r.role_id = #{id} and r.permission_id = p.id
        order by p.id;
    </select>

    <select id="getPermissionByUrl" resultMap="BaseResultMap" resultType="Permission" parameterType="java.lang.String">
        select
            id,p_name,parent_id,p_level,url,icon,html_id,data_id,description
        from estimate.permission
        where permission.url = #{url};
    </select>

    <select id="getPermissionByLevel" resultMap="BaseResultMap" resultType="Permission" parameterType="Map">
        select
            id,p_name,parent_id,p_level,url,icon,html_id,data_id,description
        from estimate.permission
        where 1=1
        <if test="parentId!=null">
            and permission.parent_id = #{parentId}
        </if>
        <if test="level!=null">
            and permission.p_level = #{level}
        </if>;


    </select>

    <select id="getRolesByPermissionId" resultMap="Role" parameterType="java.lang.Long">
        select
             e.id,e.role_code,e.role_name
        from estimate.role e,role_permission r
        where r.permission_id = #{id}
        and e.id = r.role_id
        order by e.id;
    </select>

    <select id="findPermissByRoleName" resultMap="BaseResultMap" resultType="Permission" parameterType="java.lang.String">
        select
            p.id,p.p_name,p.parent_id,p.p_level,p.url,p.icon,p.html_id,p.data_id,p.description
        from estimate.permission p,role_permission e,role r
        where r.role_code = #{roleName}
          and r.id = e.role_id and p.id = e.permission_id;
    </select>

    <select id="getNewId" resultType="java.lang.Long">
        select LAST_INSERT_ID();
    </select>


</mapper>