<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增权限</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/module/config.js}"></script>
    <style>
        body {
            width: auto;
            position: absolute;
            top: 20px;
            left: 50px;
            right: 50px;
        }
    </style>
</head>
<body>
<form class="layui-form">


    <div class="layui-form-item">
        <label class="layui-form-label">角色代号</label>
        <div class="layui-input-inline">
            <input type="input" id="roleCode" name="roleCode" placeholder="请输入角色代号" lay-verify="required"
                   class="layui-input"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">url</label>
        <div class="layui-input-inline">
            <input type="input" id="roleName" name="roleName" placeholder="请输入角色名称"
                   class="layui-input"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">添加权限</label>
        <div class="layui-input-block">
            <div id="permissionList" class="tree tree-box" style="width: 200px; height: 300px; overflow: scroll;"></div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="button" class="layui-btn" lay-submit lay-filter="addRole" value="新增"></input>
            <button type="reset" class="layui-btn layui-btn-primary"><i class="fa fa-reply"></i></button>
        </div>
    </div>
</form>
<script>
    debugger;

    layui.use(['form', 'tree'], function () {
        var form = layui.form;
        tree.render({
            elem: '#permissionList'
            , data: '/estimate/manage/role/permissionList'
            , showCheckbox: true  //是否显示复选框
            , accordion: true
            , click: function (obj) {
                layer.msg(JSON.stringify(obj.data));
            }
        })
    })
    form.on('submit(addRole)', function (data) {
        debugger;
        var parentStr = data.field.parentId;
        var parentId = parentStr.split(':')[0];
        //监听提交
        console.log(data);
        $.ajax({
            type: "POST",
            url: "/estimate/manage/permission/addPermission",
            data: {
                name: data.field.name,
                parentId: parentId,
                permissionLevel: data.field.permissionLevel,
                url: data.field.url,
                icon: data.field.icon,
                htmlID: data.field.htmlID,
                description: data.field.description
            },
            success: function (result) {
                //关闭新增用户界面
                debugger;
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            }
        })
    })

    form.on('select(level)', function (data) {
        if (data.value == 1) {
            $('#parentId').val('0:NA');
        }
    })


</script>
</body>